*{
    font-family: cursive;
    box-sizing: border-box;
    background-color: #01090e ;
}

#h1{
    text-align: center;
    font-size: 50px;
    color: blueviolet;
}
.input-container{
    display: flex;
    justify-content: center;
}

#todo-item{
    padding: 15px;
    width: 60%; 
    border-radius: 10px;  
    color: rgb(223, 209, 236);
}

.todo-cta{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 64%;
    margin: auto;
}

#add-task, #add-priority{
    background: rgba(12, 123, 235, .3);
    color: white;
}

#add-task:hover, #add-priority:hover{
    background: rgba(12, 123, 235);
    cursor: pointer;
}

#delete-all, .delete-btn{
    background: rgb(233, 28, 62, .6);
    color: white;
}
#delete-all:hover, .delete-btn:hover{
    background: rgb(233, 28, 62);
    cursor: pointer;
}

.complete-btn{
    background: rgba(66, 231, 6, 0.3);
    color: white;
}
.complete-btn:hover{
    background: rgb(49, 156, 10);
    cursor: pointer;
}
.task-btn{
    padding: 2px;
    border-radius: 10px;
    width: 150px;
    font-size: 1.2em;
    border: none;
}

.ul-list{
    list-style-type: none;
}

.todo{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
    
}
.todo-li-item{
    padding: 10px;
    min-width: 60%;
    font-size: 1.5em;
    background: rgba(242, 165, 41, .5);
    border-radius: 10px;
}

.no-hover{
    pointer-events: none;
}